#abule{
	margin-left: 80px;
}

#flex{
	background-image: url(../img/aye.jpg);
	margin-top: 40px;
}

#sth{
	color: white;
	font-size: 45px;
	margin-top: 90px;
	text-align: center;
	font-family: century;
}

#lolo{
	font-size: 20px;
}

#yeye{
	font-size: 30px;
	color: mediumseagreen
}

#boys{
	font-size: 15px;
	margin-left: 20px;
	color: white;
}

#lie{
	margin-top: 150px;
	margin-left: 80px;
}

#gbemi{
	color: cornflowerblue;
	font-size: 30px;
}

#baby{
	font-size: 15px;
	color: white;
	margin-left: 60px;
}

#my{
	font-size: 30px;
	color: darkkhaki
}

#wrong{
	font-size: 15px;
	color: white;
	margin-left: 20px;
}

.godwin{
	font-size: 30px;
	border-radius: 50px;
	text-align: center;
}

#owo{
	font-size: 30px;
	color: black;
}

#kit{
	color: black;
	font-size: 15px;
	margin-left: 80px;
}

#bye{
	margin-top: 100px;
	margin-left: 100px;
}
#wait{
	margin-left: 40px;
}

#no{
	margin-left: 80px;
}

#kolo{
	font-size: 30px;
	color: black;
}

#mofe{
	margin-left: 50px;
}

#bill{
	font-size: 15px;
	color: black;
}

#paso{
	margin-left: 50px;
}